main {
  flex: 1;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #;
  color: ;
  text-align: center;
  padding: 1px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: static;
  top: 0;
  width: 100%;
  height: clamp(1px, 1vw, 3px);
}

header p {
  margin-top: clamp(1px, 1vw, 3px);
}

.center {
  text-align: center;
  justify-content: center;
  justify-items: center;
}

.content {
  padding-top: 100px;
}
