:root {
	--color1: rgb(224, 224, 224);
	--color2: rgb(,,,);
	--color3: rgb(,,,);
}

html, body {
	margin: 0;
	padding: 0;
}

body {
  background: radial-gradient(circle at top left, rgba(168, 85, 247, 0.22), transparent 40%), radial-gradient(circle at bottom right, rgba(212, 175, 55, 0.18), transparent 40%), #040404;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Barlow";
  color: var(--color2);
}

nav {
  display: flex;
  justify-content: center;
}

.navLink {
  font-size: clamp(10px, 2vw, 13px);
  color: var(--color1);
  text-decoration: none;
  margin-top: clamp(2px, 1vw, 5px);
  margin-bottom: clamp(2px, 1vw, 5px);
  gap: clamp(7px, 2vw, 15px);
}

i, h1, h3 {
  color: var(--color1);
}

h1 {
  font-size: clamp(32px, 6vw, 70px);
  text-align: center;
  text-decoration: underline;
  margin: 2px;
  font-family: "Barlow";
}

h2, .playerBoxInfo {
  font-size: clamp(20px, 2vw, 30px);
}

h3 {
  font-size: clamp(18px, 3vw, 30px);
  margin: 2px;
}

h4 {
  font-size: clamp(14px, 2vw, 20px);
  line-height: clamp(20px, 2vw, 70px);
  margin: auto;
}

h5 {
  font-size: clamp(12px, 5vw, 20px);
  line-height: clamp(30px, 4vw, 40px);
  margin: auto;
}

a {
  text-decoration: none;
  font-size: 0;
}

li {
  font-size: clamp(14px, 2vw, 20px);
  line-height: clamp(20px, 2vw, 70px);
}

i {
  margin-right: 5px;
  margin-left: 5px;
}

summary {
  font-size: clamp(20px, 2vw, 30px);
  font-weight: bold;
  color: var(--color2);
  cursor: pointer;
  list-style-position: outside;
  padding-left: 0.5rem;
}
